In [19]:
import pandas as pd
data1 = pd.read_csv("dropData.csv",index_col=0)
data1

,ta,ts,speed,kp,kd-kvfb,kd-kvff,ki,simul_settling_time,trial_no,settling_time,Unnamed: 10
0,20.0,20.0,100.0,10.0,1400.0,1400.0,0.006,0.2304,1.0,0.586,NaN
1,20.0,20.0,100.0,10.0,1400.0,1400.0,0.006,0.2304,2.0,0.563,NaN
2,20.0,20.0,100.0,10.0,1400.0,1400.0,0.006,0.2304,3.0,0.588,NaN
3,20.0,20.0,100.0,10.0,1400.0,1400.0,0.010,0.2685,1.0,0.264,NaN
4,20.0,20.0,100.0,10.0,1400.0,1400.0,0.010,0.2685,2.0,0.272,NaN
...,...,...,...,...,...,...,...,...,...,...,...
537,20.0,20.0,100.0,65.0,2000.0,2000.0,0.014,0.1429,2.0,0.150,NaN
538,20.0,20.0,100.0,65.0,2000.0,2000.0,0.014,0.1429,3.0,0.156,NaN
539,20.0,20.0,100.0,65.0,2000.0,2000.0,0.016,0.1413,1.0,0.141,NaN
540,20.0,20.0,100.0,65.0,2000.0,2000.0,0.016,0.1413,2.0,0.148,NaN
541,20.0,20.0,100.0,65.0,2000.0,2000.0,0.016,0.1413,3.0,0.142,NaN

In [20]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 461 entries, 0 to 541
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ta                   456 non-null    float64
 1   ts                   456 non-null    float64
 2   speed                456 non-null    float64
 3   kp                   456 non-null    float64
 4   kd-kvfb              456 non-null    float64
 5   kd-kvff              456 non-null    float64
 6   ki                   456 non-null    float64
 7   simul_settling_time  456 non-null    float64
 8   trial_no             456 non-null    float64
 9   settling_time        456 non-null    float64
 10  Unnamed: 10          1 non-null      object
dtypes: float64(10), object(1)
memory usage: 43.2+ KB

In [13]:
t = data1[data1["settling_time"] != "ë°œì‚°"]
t

,ta,ts,speed,kp,kd-kvfb,kd-kvff,ki,simul_settling_time,trial_no,settling_time,Unnamed: 10
0,20.0,20.0,100.0,10.0,1400.0,1400.0,0.006,0.2304,1.0,0.586,NaN
1,20.0,20.0,100.0,10.0,1400.0,1400.0,0.006,0.2304,2.0,0.563,NaN
2,20.0,20.0,100.0,10.0,1400.0,1400.0,0.006,0.2304,3.0,0.588,NaN
3,20.0,20.0,100.0,10.0,1400.0,1400.0,0.010,0.2685,1.0,0.264,NaN
4,20.0,20.0,100.0,10.0,1400.0,1400.0,0.010,0.2685,2.0,0.272,NaN
...,...,...,...,...,...,...,...,...,...,...,...
537,20.0,20.0,100.0,65.0,2000.0,2000.0,0.014,0.1429,2.0,0.15,NaN
538,20.0,20.0,100.0,65.0,2000.0,2000.0,0.014,0.1429,3.0,0.156,NaN
539,20.0,20.0,100.0,65.0,2000.0,2000.0,0.016,0.1413,1.0,0.141,NaN
540,20.0,20.0,100.0,65.0,2000.0,2000.0,0.016,0.1413,2.0,0.148,NaN
541,20.0,20.0,100.0,65.0,2000.0,2000.0,0.016,0.1413,3.0,0.142,NaN

In [15]:
t["settling_time"] = t["settling_time"].astype("float64")
t

/var/folders/5v/ywkv8vl52zs0xz8k0x15y8fm0000gn/T/ipykernel_16539/3928863296.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t["settling_time"] = t["settling_time"].astype("float64")

,ta,ts,speed,kp,kd-kvfb,kd-kvff,ki,simul_settling_time,trial_no,settling_time,Unnamed: 10
0,20.0,20.0,100.0,10.0,1400.0,1400.0,0.006,0.2304,1.0,0.586,NaN
1,20.0,20.0,100.0,10.0,1400.0,1400.0,0.006,0.2304,2.0,0.563,NaN
2,20.0,20.0,100.0,10.0,1400.0,1400.0,0.006,0.2304,3.0,0.588,NaN
3,20.0,20.0,100.0,10.0,1400.0,1400.0,0.010,0.2685,1.0,0.264,NaN
4,20.0,20.0,100.0,10.0,1400.0,1400.0,0.010,0.2685,2.0,0.272,NaN
...,...,...,...,...,...,...,...,...,...,...,...
537,20.0,20.0,100.0,65.0,2000.0,2000.0,0.014,0.1429,2.0,0.150,NaN
538,20.0,20.0,100.0,65.0,2000.0,2000.0,0.014,0.1429,3.0,0.156,NaN
539,20.0,20.0,100.0,65.0,2000.0,2000.0,0.016,0.1413,1.0,0.141,NaN
540,20.0,20.0,100.0,65.0,2000.0,2000.0,0.016,0.1413,2.0,0.148,NaN
541,20.0,20.0,100.0,65.0,2000.0,2000.0,0.016,0.1413,3.0,0.142,NaN

In [16]:
t.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 461 entries, 0 to 541
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ta                   456 non-null    float64
 1   ts                   456 non-null    float64
 2   speed                456 non-null    float64
 3   kp                   456 non-null    float64
 4   kd-kvfb              456 non-null    float64
 5   kd-kvff              456 non-null    float64
 6   ki                   456 non-null    float64
 7   simul_settling_time  456 non-null    float64
 8   trial_no             456 non-null    float64
 9   settling_time        456 non-null    float64
 10  Unnamed: 10          1 non-null      object
dtypes: float64(10), object(1)
memory usage: 43.2+ KB

In [17]:
t.to_csv("dropData.csv")

In [6]:
data2 = pd.read_excel("230807_data_label.xlsx")
data2

,ta,ts,speed,SLPKP,SLPKI,SLVKP,SLVKI,simul_settling_time,trial_no,settling_time,inposstability
0,40,40,100,10.0,0,70,400,NaN,1,0.279,0.2909
1,40,40,100,10.0,0,70,400,NaN,2,0.203,0.2729
2,40,40,100,10.0,0,70,400,NaN,3,0.281,0.2596
3,40,40,100,20.0,0,70,400,NaN,1,0.227,0.2840
4,40,40,100,30.0,0,70,400,NaN,1,0.199,0.2538
...,...,...,...,...,...,...,...,...,...,...,...
832,40,40,100,1910.0,0,70,400,NaN,2,0.173,0.3019
833,40,40,100,1910.0,0,70,400,NaN,3,0.174,0.2672
834,40,40,100,2010.0,0,70,400,NaN,1,0.174,0.2781
835,40,40,100,2010.0,0,70,400,NaN,2,0.174,0.3054
836,40,40,100,2010.0,0,70,400,NaN,3,0.175,0.2845

In [10]:
col1 = data2["ta"].tolist()
col2 = data2["ts"].tolist()

In [21]:
pd.concat([data1,data2],axis=0)

,ta,ts,speed,kp,kd-kvfb,kd-kvff,ki,simul_settling_time,trial_no,settling_time,Unnamed: 10,SLPKP,SLPKI,SLVKP,SLVKI,inposstability
0,20.0,20.0,100.0,10.0,1400.0,1400.0,0.006,0.2304,1.0,0.586,NaN,NaN,NaN,NaN,NaN,NaN
1,20.0,20.0,100.0,10.0,1400.0,1400.0,0.006,0.2304,2.0,0.563,NaN,NaN,NaN,NaN,NaN,NaN
2,20.0,20.0,100.0,10.0,1400.0,1400.0,0.006,0.2304,3.0,0.588,NaN,NaN,NaN,NaN,NaN,NaN
3,20.0,20.0,100.0,10.0,1400.0,1400.0,0.010,0.2685,1.0,0.264,NaN,NaN,NaN,NaN,NaN,NaN
4,20.0,20.0,100.0,10.0,1400.0,1400.0,0.010,0.2685,2.0,0.272,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
832,40.0,40.0,100.0,NaN,NaN,NaN,NaN,NaN,2.0,0.173,NaN,1910.0,0.0,70.0,400.0,0.3019
833,40.0,40.0,100.0,NaN,NaN,NaN,NaN,NaN,3.0,0.174,NaN,1910.0,0.0,70.0,400.0,0.2672
834,40.0,40.0,100.0,NaN,NaN,NaN,NaN,NaN,1.0,0.174,NaN,2010.0,0.0,70.0,400.0,0.2781
835,40.0,40.0,100.0,NaN,NaN,NaN,NaN,NaN,2.0,0.174,NaN,2010.0,0.0,70.0,400.0,0.3054
836,40.0,40.0,100.0,NaN,NaN,NaN,NaN,NaN,3.0,0.175,NaN,2010.0,0.0,70.0,400.0,0.2845

In [18]:
import numpy as np
t = pd.DataFrame(np.array(col1).reshape(-1,1),columns=["a"])
t = pd.concat([t,pd.DataFrame(np.array(col2).reshape(-1,1),columns=["b"])],axis=1)
t

      a   b
0    40  40
1    40  40
2    40  40
3    40  40
4    40  40
..   ..  ..
832  40  40
833  40  40
834  40  40
835  40  40
836  40  40

[837 rows x 2 columns]

In [20]:
"asdasdasd"[:-1]

'asdasdas'